
.squere {
	  
    padding: 15px 15px;
    text-align: center;
    width: 33%;
    border: 3px solid #8952a5;
    font-weight: bold;
    font-style: italic;
    color: #b224f8;
    background-color:1;
  }
  
  .squere:hover {
	background-color: #8952a5; 
	color: #ffffff;
  }

  .squere:active{
      background-color:#6D435A;
    }