.squereContainer{
  align-items: center;
}


.squere1,.squere4,.squere7  {
	  
    padding: 10% 0;
    text-align: center;
    width: 31%;
    border: 3px solid #66FF66;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
    background-color:#66FF66;
    border-radius: 12px;
    margin-left: 3px;
    margin-top: 3px; 
    margin-right: 3px;
    
  }

  .squere0,.squere3,.squere6  {
	  
    padding: 10% 0;
    text-align: center;
    width: 31%;
    border: 3px solid #50BFE6;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
    background-color:#50BFE6;
    border-radius: 12px;
    margin-left: 3px;
    margin-top: 3px; 
    margin-right: 3px;
    
  }
  .squere2,.squere5,.squere8  {
	  
    padding: 10% 0;
    text-align: center;
    width: 31%;
    border: 3px solid #FF9933;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
    background-color:#FF9933;
    border-radius: 12px;
    margin-left: 3px;
    margin-bottom: 3px;
  }
  

  
    