.App {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	background-color: #2e2b2b;
	color: #8952a5;
  	padding: 5%;
  	box-sizing: border-box;
	font-weight: bold;
    font-style: italic;
}
